{erl_opts, [{d, 'WITH_JIFFY'}]}.

{deps, [
        {rfc4627_jsonrpc, ".*", 
         {git, "https://github.com/tonyg/erlang-rfc4627.git", 
          {branch, "master"}}},
        {couchbeam, ".*", 
         {git, "https://github.com/benoitc/couchbeam.git",
          {branch, "master"}}},
        {yaws, ".*", 
         {git, "git://github.com/klacke/yaws", 
          {branch, "master"}}}    
]}.

